$fill-slot-color: #3A7E5D;
$free-slot-color: white;

$SO-frame: #81C5A4;

@keyframes freeToFill {
    from {background-color: $free-slot-color;}
    to {background-color: $fill-slot-color;}
}

@keyframes fillToFree {
    from {background-color: $fill-slot-color;}
    to {background-color: $free-slot-color;}
}

@keyframes SOFreeToFree {
    from {background-color: $free-slot-color;}
    to {background-color: $SO-frame;}
}


.container {
    font-family: 'Oswald', sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.form-container {
    border: .5px solid black;
    border-radius: 10px;
    padding: 30px 35px;
    margin: 40px 0;
    -webkit-box-shadow: 5px 5px 15px -3px #000000;
    box-shadow: 5px 5px 15px -3px #000000;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.form-group label {
    margin-bottom: 5px;
}

.form-group input {
    background: none;
    border: none;
    border-bottom: .5px solid gray;
}

.form-group input:focus {
    outline: none;
}

.submit-container {
    margin-top: 20px;
    align-items: center;
}


.form-group button:hover {
    scale: (1, 1);
    cursor: pointer;
}

.element-container {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.table-container {
    text-align: center;
    margin-left: 40px;
}

.representation-container {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.page {
    background-color: $fill-slot-color;
    color: white;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: freeToFill 2s;
}

.free-page {
    border: 1px solid black;
    background-color: $free-slot-color;
    color: black;
}

.free-frame, .frame, .frame-so {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}

.free-frame {
    color: black;
    animation: fillToFree 2s;
    background-color: $free-slot-color;
}

.frame {
    color: white;
    animation: freeToFill 2s;
    background-color: $fill-slot-color;
}

.frame-so {
    background-color: $SO-frame;    
    animation: SOFreeToFill 2s;
}


table {
    border: .5px solid gray;
    -webkit-box-shadow: 5px 5px 15px -3px #000000;
    box-shadow: 5px 5px 15px -3px #000000;
}

table thead,
th {
    background-color: #000000;
    color: white;
}

table th {
    padding: 10px;
    font-size: large;
}

table td {
    font-size: large;
    text-align: center;
    padding: 10px;
}

#nextButton {
    position: fixed;
    top: 10px;
    right: 10px;
}